### **Question 1**

In [3]:
print(5, type(5))                                   # 5 - Integer
print(5.0, type(5.0))                               # 5.0 - float 
print('5 > 1', type(5 > 1))                         # 5 > 1 - bool
print("'5'", type('5'))                             # '5' - string
print('52', type(52))                               # 52 - integer 
print("'5' * 2", type('5' * 2))                     # '5' * 2 - string
print("'5'+'2'", type('5'+'2'))                     # '5'+'2' - string
print('5 / 2', type(5 / 2))                         # 5 / 2 - float
print('5 // 2', type(5 // 2))                       # 5 // 2 - integer
print([5,2,1], type([5,2,1]))                       # [5, 2, 1] - list
print('5 in [1, 4, 6]', type(5 in [1, 4, 6]))       # 5 in [1, 4, 6] - bool
import math 
print('math.pi', type(math.pi))                     # math.pi - float

5 <class 'int'>
5.0 <class 'float'>
5 > 1 <class 'bool'>
'5' <class 'str'>
52 <class 'int'>
'5' * 2 <class 'str'>
'5'+'2' <class 'str'>
5 / 2 <class 'float'>
5 // 2 <class 'int'>
[5, 2, 1] <class 'list'>
5 in [1, 4, 6] <class 'bool'>
math.pi <class 'float'>

### **Question 2**

In [2]:
# a. How many letters are there in 'Supercalifragilisticexpialidocious'?
len('Supercalifragilisticexpialidocious')

34

In [3]:
# b. Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring? 
'ice' in 'Supercalifragilisticexpialidocious'

True

In [4]:
# c. Which of the following words is the longest: Supercalifragilisticexpialidocious, Honorificabilitudinitatibus, 
# or Bababadalgharaghtakamminarronnkonn? 
len('Supercalifragilisticexpialidocious')

34

In [5]:
len('Honorificabilitudinitatibus')

27

In [6]:
len('Bababadalgharaghtakamminarronnkonn')

34

In [7]:
# Supercalifragilisticexpialidocious and Bababadalgharaghtakamminarronnkonn are the longest word, they both have 34 letters.

In [8]:
# d. Which composer comes first in the dictionary: 'Berlioz', 'Borodin', 'Brian',
# 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein'. Which one comes last?

lst = ['Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein']
lst.sort()
lst

['Bartok', 'Bellini', 'Berlioz', 'Bernstein', 'Borodin', 'Brian', 'Buxtehude']

In [9]:
# The first composer in the dictionary is Bartok
# The last composer in the dictionary is Buxtehude

### **Question 3**

In [18]:
# a. that returns True or False depending on whether the point (x,y) lies in the rectangle with lower left corner (x1,y1) and upper right corner (x2,y2).

def inside(x,y,x1,y1,x2,y2):
    if x2 >= x >= x1 and y2 >= y >= y1:
        print('True')
    else:
        print('False')
inside(1,1,0,0,2,3)

True

In [13]:
inside(-1,-1,0,0,2,3)

False

In [14]:
# b.
if inside(1, 1, 0.3, 0.5, 1.1, 0.7) == 'True' and inside(1, 1, 0.5, 0.2, 1.1, 2) == 'True':
    print('true')

False

### **Question 4**

In [15]:
s = input('Please enter a word: ')
def pig(s):
    if s[0] == 'a' or s[0] == 'e' or s[0] == 'i' or s[0] == 'o' or s[0] == 'u' or s[0] == 'A' or s[0] == 'E' or s[0] == 'I' or s[0] == 'O' or s[0] == 'U':    
        answer = s.lower() + 'way'
    else:
        answer = s.lower()[1:] + s.lower()[0] + 'ay'
    return answer
pig(s)

Please enter a word: Enter

'enterway'

In [16]:
pig('happy')

'appyhay'

In [17]:
pig('Enter')

'enterway'

### **Question 5**

In [2]:
def bldcount(name):
    infile = open(name, 'r')
    blood = infile.read()
    blood.split()
    counters = {}
    for word in blood.split():
        if word in counters:
            counters[word] += 1
        else:
            counters[word] = 1
    counters
    for word in counters:
        if counters[word] == 1:
            print('There are {} patient of blood type {:1}.'.format(counters[word], word))
        else:
            print('There are {} patients of blood type {:1}.'.format(counters[word], word))
bldcount('bloodtype.txt')

There are 13 patients of blood type AB.
There are 1 patient of blood type B.
There are 15 patients of blood type O.
There are 15 patients of blood type A.

### **Question 6**

In [1]:
cur = {'AUD': 1.0345157,
 'CHF': 1.0237414,
 'CNY': 0.1550176,
 'DKK': 0.1651442,
 'EUR': 1.2296544,
 'GBP': 1.5550989,
 'HKD': 0.1270207,
 'INR': 0.0177643,
 'JPY': 0.01241401,
 'MXN': 0.0751848,
 'MYR': 0.3145411,
 'NOK': 0.1677063,
 'NZD': 0.8003591,
 'PHP': 0.0233234,
 'SEK': 0.148269,
 'SGD': 0.788871,
 'THB': 0.0313789}
currency = input('Enter a currency: ')
amount = input('Enter an amount: ')
def curconv(currency, amount):
    if currency in cur:
        convert = int(amount) * cur[currency]
        return convert
    else:
        print('The currency you entered is not on the list.')
        
curconv(currency, amount)

Enter a currency: EUR
Enter an amount: 100

122.96544

In [2]:
curconv('EUR', 100)

122.96544

In [3]:
curconv('JPY', 100)

1.241401

### **Question 7**

In [4]:
# a. Trying to add incompatible variables, as in adding 6 + ‘a’
#    Syntax error: invalid character in identifier
# b. Referring to the 12th item of a list that has only 10 items
#    Erroneous state error - IndexError: list index out of range
# c. Using a value that is out of range for a function’s input, such as calling math.sqrt(-1.0)
#    Erroneous state error - TypeError: sqrt() takes exactly one argument (2 given)
# d. Using an undeclared variable, such as print(x) when x has not been defined 
#    Erroneous state error - NameError: name 'x' is not defined
# e. Trying to open a file that does not exist, such as mistyping the file name or looking in the wrong directory.
#    Erroneous state error - NameError: name is not defined

### **Question 8**

In [2]:
def frequencies(s):
    letters = 'abcdefghijklmnopqrstuvwxyz'
    counter = []
    for i in range (0,26):
        a = s.lower()
        counter.append(a.count(letters[i]))
    return counter     
frequencies('The quick red fox got bored and went home.')

[1, 1, 1, 3, 5, 1, 1, 2, 1, 0, 1, 0, 1, 2, 4, 0, 1, 2, 0, 3, 1, 0, 1, 1, 0, 0]

In [6]:
frequencies('apple')

[1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

### **Question 9**

In [8]:
n = int(input('Enter a positive number: '))
def sieve(n):
    L = []
    for i in range(2, n+1):
        L.append(i)
        primeL = []
    while sum(L) > 0:
        a = L[0]
        i = a
        primeL.append(a)
        while i <= n:
            if i in L:
                L.remove(i)
                i += a
            else:
                i += a
    return primeL
sieve(n)

Enter a positive number: 25

[2, 3, 5, 7, 11, 13, 17, 19, 23]

In [9]:
sieve(56)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53]

In [10]:
sieve(368)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367]

In [11]:
sieve(32)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

### **Question 10**

In [13]:
a = int(input('Enter first side of a triangle: '))
b = int(input('Enter second side of a triangle: '))
c = int(input('Enter third side of a triangle: '))
def  triangleArea(a,b,c):
    import math
    s = (a + b + c)/2
    area = math.sqrt(s*(s-a)*(s-b)*(s-c))
    return area
triangleArea(a,b,c)

Enter first side of a triangle: 2
Enter second side of a triangle: 2
Enter third side of a triangle: 2

1.7320508075688772

In [14]:
triangleArea(2,2,2)

1.7320508075688772